<div class="cancel-turn-container container">
    <h2>Finalizar Turno</h2>
    <div class="cancel-turn-container">
      <div class="form-group">
        <div class="d-flex">
            <i class="bi bi-chat" style="margin-right: 2px;"></i>
            <label for="cancelComment">Comentario:</label>
        </div>
        <input type="text" id="cancelComment" [(ngModel)]="closeComment" class="form-control" placeholder="Ingrese el motivo">
      </div>
      <div class="button-group">
        <button class="btn" (click)="noCancelar()">Cancelar</button>
        <button class="btn" (click)="comment()">Cerrar</button>
      </div>
    </div>
    
    </div>