<div class="container d-flex align-items-center justify-content-center" style="height: 90vh;">

    <div class="grid-container">
        <div class="grid-item"><app-turnsperspeciality></app-turnsperspeciality></div>
        <div class="grid-item"><app-turnsperday></app-turnsperday></div>
        <div class="grid-item"><app-allturnsaskedbyrange></app-allturnsaskedbyrange></div>
        <div class="grid-item"><app-allturnendedbyrange></app-allturnendedbyrange></div>
    </div>
    
 </div>

 









<app-backgroundimage></app-backgroundimage>