<div class="container d-flex align-items-center justify-content-center" style="height: 70vh;">

    <div class="grid-container">
        <div class="grid-item"><app-turnsperspeciality></app-turnsperspeciality></div>
        <div class="grid-item"><app-turnsperday></app-turnsperday></div>
        <div class="grid-item"><app-turnsaskedbyrange></app-turnsaskedbyrange></div>
        <div class="grid-item"><app-turnsfinishedbyrange></app-turnsfinishedbyrange></div>
    </div>
    
 </div>

 









<app-backgroundimage></app-backgroundimage>