.f-signin {
    max-width: 360px;
    min-width: 300px;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 25px;
}

.register-text
{
    cursor: pointer;
    text-align: center;
}

.container
{
    max-width: 30%;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    //border: 1px solid #ddd;
    background-color: #f8f9fa;

}