
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="container d-flex justify-content-center align-items-center full-height"  [@rightLeftAnimation]>


<div class="form-signin m-auto formLogin">
    <form (submit)="submit()" [formGroup]="this.form" >
        <h1 class="h3 mb-3 fw-normal text-center"><b>Iniciar Sesión</b></h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [formControl]="form.controls.email">
            <label for="floatingInput">Dirección de correo electrónico</label>
            <div class="text-danger" *ngIf="form.get('email')?.touched">
                <label *ngIf="form.controls.email.getError('required')">email requerido</label>
                <label *ngIf="form.controls.email.getError('email')">email invalido</label>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [formControl]="form.controls.password">
            <label for="floatingPassword">Contraseña</label>
            <div class="text-danger" *ngIf="form.get('password')?.touched">
                <label *ngIf="form.controls.password.getError('required')">contraseña requerida</label>
                <label *ngIf="form.controls.password.getError('minlength')">la contraseña debe tener minimo 5 letras</label>
            </div>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!form.valid" style="margin-top: 1vh;">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-body-secondary register-text">No tienes cuenta? <strong (click)="utilSvc.goto('auth/register')"> registrate aqui</strong></p>
    </form>
</div>
   
</div>
<div class="d-flex w-100 justify-content-center" style="margin-top: 2vh;">
    <div class="row d-flex justify-content-center" style="width: 20%;">
        <div class="col-lg-4 text-center" *ngFor="let user of authService.userList">
            <img class="border border-dark" src="assets/user.jpg" alt="Generic placeholder image" width="70" height="70" (click)="accesoRapido(user.userInfo.mail,'123456')">
            <p class="fw-normal">{{user.userInfo.name}} {{user.userInfo.surename}}</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>

<div class="full-height w-100 full-screen"></div>