.f-signin {
    max-width: 360px;
    min-width: 300px;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 25px;
}

.register-text
{
    cursor: pointer;
    text-align: center;
}

.container
{
    width: 20%;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    //border: 1px solid #ddd;
    background-color: lightblue;

}


 .full-screen{
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/assets/mosaic.jpg');
    opacity: 0.2;
    background-repeat: repeat; /* Repeats the image to create the mosaic effect */
    background-size: auto; /* Keeps the image size as it is */
    background-position: top left; /* Ensures it starts at the top-left corner */
    z-index: -1;
  }
  

  .form-floating
  {
    margin-top: 0.5vh;
  }