<div class="container align-items-center full-height">

    <div class="row row-cols-1 row-cols-md-3 mb-3" style="justify-content: center;">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">Datos personales</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0">Nombre</h6>
                            <h3><strong></strong>{{authSvc.userProfile?.name}}</h3>
                        </li>
                        <li>
                            <h6 class="my-0">Apellido</h6>
                            <h3><strong></strong>{{authSvc.userProfile?.surename}}</h3>
                        </li>
                        <li>
                            <h6 class="my-0">Apellido</h6>
                            <h3><strong></strong>{{authSvc.userProfile?.surename}}</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
