.disabled {
    background-color: lightgray;
    color: lightgray;
    pointer-events: none;
  }

  .table-body
  {
    height: 50vh;
    overflow: scroll;
  }

  .div-display {
    max-height: 30vh; /* Adjust as needed */
    overflow-y: auto; /* Only scroll vertically */
    background-color: transparent;
}



.speciality-card { 
    /* Reduce card height */
    max-height: 150px; /* Adjust as needed */ 
    padding: 1vh;
    background-color: transparent;
    min-width: 15vh;
    align-items: center;
    margin: 0.5vh;
}

.card-img-top {
    height: 8vh; /* Adjust image height */
    width: 8vh;
}

.card-body {
    padding: 10px;  /* Adjust padding */ 
}

.button-save
{
  max-width: 40vh;
  margin: 2vh;
  border-radius: 2vh;  
}