.card
{
    max-height: 60vh;
    //max-width: 60vh;
    overflow-y: scroll;
}

.container
{
    //max-width: 50%;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    //border: 1px solid #ddd;
    background-color: #f8f9fa;

}