<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="d-flex w-100 align-items-center justify-content-center" style="margin-top: 3vh;">
    <div class="d-flex align-items-center justify-content-center" style="border: 1px solid #333; border-radius: 10px; min-width: 70%;">

    <table class="table table-striped" style="width: 95%;">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Es Admin</th>
            <th>Es Medico</th>
            <th>Detalles</th>
            <th>Activo</th>
            <th>Turnos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of authService.userList">
            <td>{{ user.userInfo.name }}</td>
            <td>{{ user.userInfo.surename }}</td>
            <td>{{ user.userInfo.mail }}</td>
            <td>{{ user.userInfo.age | age}} ({{ user.userInfo.age }})</td>
            <td>{{ user.userInfo.dni }}</td>
            <td>{{ user.userInfo.admin ? 'Si' : 'No' }}</td>
            <td>{{ user.userInfo.medic ? 'Si' : 'No' }}</td>
            <td>
              <ul>
                <li *ngFor="let infoItem of user.userInfo.info">{{ infoItem }}</li>
              </ul>
            </td>
            <td>
                <div class="form-check form-switch">
                <input [checked]="user.active" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="disableAccount(user)" *ngIf="user.userInfo.medic">
                </div>
            </td>
            <td><button type="button" (click)="openUserTurnList(user)" *ngIf="!(user.userInfo.medic || user.userInfo.admin)"><i class="bi bi-calendar-heart" ></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center" style="width: 100%; padding-top: 10px;">
    <div class="d-flex  justify-content-end" style="min-width: 70%;">
        <button class="btn btn-primary btn-lg" type="button" style="width: 30% ;margin-right: 1vh;" (click)="createAdmin()">Crear nuevo Administrador</button>
    <button class="btn btn-primary btn-lg" type="button" style="width: 30%;" (click)="exportCSV()">Exportar como CSV</button>
</div>
  </div>

  <app-graphics></app-graphics>

  <app-backgroundimage></app-backgroundimage>