<nav class="navbar navbar-expand-lg" *ngIf="authService.loggedUser">
  <a class="navbar-brand" style="margin-left: 1vh;">Clinica</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-between;">
    <div class="navbar-nav">
     
        <!-- Usuarios-->
        <button class="nav-item nav-link" *ngIf="!(authService.userProfile?.medic)"
        (click)="router.goto('home/mypage')">Mi pagina</button>
        
        <button class="nav-item nav-link" *ngIf="!(authService.userProfile?.medic || authService.userProfile?.admin)"
        (click)="router.goto('home/userturns')">Sacar Turno</button>
        
        <button class="nav-item nav-link" *ngIf="!(authService.userProfile?.medic || authService.userProfile?.admin)"
        (click)="router.goto('home/userturns/myturns')">Mis Turnos</button>

        <!--Medicos-->
        <button class="nav-item nav-link" *ngIf="authService.userProfile?.medic"
        (click)="router.goto('home/medicturns')">Mis Turnos</button>
        
        <button class="nav-item nav-link" *ngIf="authService.userProfile?.medic"
        (click)="router.goto('home/mypage/medic')">Mi pagina</button>


        <!--Administradores: Falta sacar turnos de administradores-->
        <button class="nav-item nav-link" *ngIf="authService.userProfile?.admin"
        (click)="router.goto('home/admuser')">Administración de Usuarios</button>

        <button class="nav-item nav-link" *ngIf="authService.userProfile?.admin"
        (click)="router.goto('home/admuser/usercard')">Cartas Usuarios</button>
        
        <button class="nav-item nav-link" *ngIf="authService.userProfile?.admin"
        (click)="router.goto('home/adminturns')">Todos los Turnos</button>

        <button class="nav-item nav-link" *ngIf="authService.userProfile?.admin"
        (click)="router.goto('home/adminturns/graphics')">Graficos</button>

        
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="authService.logout()" style="cursor: pointer;">Log Out</a>
    </div>
  </div>
</nav>
