<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="container" style="margin-top: 5vh;">
    <h1 class="display-5 fw-bold">Sacar Turno</h1>

    <div class="d-flex w-100 justify-content-center">
      <div *ngFor="let especialidad of especialidadesSrv.especialidadesList">

        <div class="col">
          <div class="card shadow-sm selector-card">
            <img class="bd-placeholder-img card-img-top" src="assets/especialidad.jpg" focusable="false" (click)="selectEspecialidad(especialidad)">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{especialidad.name}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex w-100 justify-content-center">
      <div *ngFor="let medic of medicList">

        <div class="col">
          <div class="card shadow-sm selector-card">
            <img class="bd-placeholder-img card-img-top" src="assets/doctor.jpg" focusable="false" (click)="selectDoctor(medic)">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{medic.userInfo.surename}} {{medic.userInfo.name}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr class="my-4">

  </div>



  <div class="container" *ngIf="selectedMedic" style="max-height: 30vh; overflow: scroll;">
    <div class="row row-cols-4 row-cols-md-5 mb-3 g-3">
      <div class="col" *ngFor="let turn of formattedTurns">
        <ng-container *ngIf="isValidHour(turn.turn, turn.date) ; else emptySlot">

          <button class="btn btn-primary btn-lg" type="button" (click)="selectTurn(turn)">{{ turn.date }} - {{ turn.turn }}</button>


      </ng-container>

      <ng-template #emptySlot>
        <div class="card h-100 rounded-3 shadow-sm empty-slot">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center"><b>{{ turn.date }}</b></h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <h5 class="my-0"><b>Dia: </b>{{ turn.day }}</h5>
              </li>
              <li>
                <h5 class="my-0"><b>Hora: </b>{{ turn.turn }}</h5>
              </li>
              <li>
                <h5 class="my-0"><b>Estado: </b>Ocupado</h5>
              </li>
            </ul>
          </div>
        </div>

      </ng-template>

      <ng-template  #fullslot>
        <div class="card h-100 rounded-3 shadow-sm" (click)="selectTurn(turn)">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center"><b>{{ turn.date }}</b></h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <h5 class="my-0"><b>Dia: </b>{{ turn.day }}</h5>
              </li>
              <li>
                <h5 class="my-0"><b>Hora: </b>{{ turn.turn }}</h5>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>

      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 1vh; background-color: white;" *ngIf="selectedMedic && selectedSpeciality && selectedTurn">
    <hr class="my-4">
    <div class="d-flex full-height align-items-center"> <!-- Flexbox container for horizontal layout -->
      <!-- Image Section -->
      <img src="assets/especialidad.jpg" class="card-img-top" alt="Especialidad" style="width: 120px; height: 120px; object-fit: cover;">
  
      <!-- Text Section -->
      <div class="ms-3"> <!-- ms-3 adds left margin to separate text from image -->
        <div>
          <i class="bi bi-calendar2-heart-fill"></i><b> {{selectedTurn.date}} {{selectedTurn.turn}}</b>
        </div>
        <div><b>Doctor: </b>{{selectedMedic.userInfo.mail}}</div>
        <div><b>Paciente: </b>{{authSrv.userProfile?.mail}}</div>
        <div><b>Especialidad: </b>{{selectedSpeciality.name}}</div>
        <div><button class="w-100 btn btn-primary" (click)="getTurn()">Pedir Turno</button></div>
      </div>
    </div>
    
    <hr class="my-4">
  
  </div>

  <app-backgroundimage></app-backgroundimage>