<div class="container">
    <h1 class="display-5 fw-bold">Sacar Turno</h1>

    <div class="d-flex w-100 justify-content-center">
      <div *ngFor="let especialidad of especialidadesSrv.especialidadesList">

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/especialidad.jpg" focusable="false" (click)="selectEspecialidad(especialidad)">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{especialidad.name}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex w-100 justify-content-center">
      <div *ngFor="let medic of medicList">

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/doctor.jpg" focusable="false" >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{medic.userInfo.surename}} {{medic.userInfo.name}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>