<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="w-100 d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center" style="margin: 1vh; width: 50%;">
        <input type="search" [(ngModel)]="busqueda" class="user-filter" placeholder="Filtrar Turno">
    </div>
    </div>

<div class="container align-items-center full-height" style="max-height: 70vh; overflow-y: scroll; margin-top: 3vh;">

    <div class="row row-cols-1 row-cols-md-3 mb-3" style="justify-content: center;">

        <div class="col" *ngFor="let turn of myTurnsList  | improvedturnfullfilter: busqueda">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">{{turn.speciality}}</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Fecha</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.date}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Hora</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.turn}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Doctor</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.doctor}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Estado</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.status}}</h4>
                        </li>
                    </ul>
                        <div class="d-flex justify-content-between mt-3 mb-4">
                            <button class="btn btn-primary btn-lg btn-acceptreject" type="button" *ngIf="turn.status == 'Pendiente'" (click)="declineTurn(turn)">Rechazar</button>     
                            <button class="btn btn-primary btn-lg btn-acceptreject" type="button" *ngIf="turn.status == 'Pendiente'" (click)="acceptTurn(turn)">Aceptar</button>
                        </div>
                        <button class="btn btn-primary btn-lg btn-acceptreject w-100" type="button" *ngIf="turn.status == 'Aceptado'" (click)="historyTurn(turn)">Cerrar Turno</button>
                        <button class="btn btn-primary btn-lg btn-acceptreject w-100" type="button" *ngIf="(turn.status == 'Rechazado'|| turn.status == 'Cancelado' || turn.status == 'Comentado')" (click)="motiveTurn(turn)">Motivo</button>
                    </div>
            </div>
        </div> 
        

    </div>

</div>

<app-backgroundimage></app-backgroundimage>