<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="container align-items-center w-100" style="margin: 1vh; display: flex; flex-direction: column;">
    <h3>Filtrar Turno</h3>
    <input type="search" [(ngModel)]="busqueda" >
  </div>

<div class="container align-items-center full-height">

    <div class="row row-cols-1 row-cols-md-3 mb-3" style="justify-content: center;">

        <div class="col" *ngFor="let turn of myTurnsList  | specialityfilter: busqueda">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">{{turn.speciality}}</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Fecha</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.date}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Hora</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.turn}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Doctor</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.doctor}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <h6 class="my-0" >Estado</h6>
                        </li>
                        <li>
                            <h4 class="my-0" >{{turn.status}}</h4>
                        </li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4">
                        <button class="w-100 btn btn-primary btn-lg" type="button" *ngIf="turn.status == 'Pendiente'" (click)="sendReview(turn)">Cancelar</button>
                        <button mat-button class="w-100 btn btn-primary btn-lg" type="button" *ngIf="(turn.status == 'Done' || turn.status == 'Canceled') && turn.review.done" (click)="cancelModal()">Ver Reseña</button>
                        <button class="w-100 btn btn-primary btn-lg" type="button" *ngIf="(turn.status == 'Done' || turn.status == 'Canceled') && !turn.review.done">Dejar Reseña</button>
                    </ul>
                </div>
            </div>
        </div> 
        

    </div>

</div>