<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="container align-items-center full-height">

    <div class="row row-cols-1 row-cols-md-3 mb-3" style="justify-content: center;">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">Especialidades</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor="let especialidad of especialitiesService.especialidadesList">
                            <h6 class="my-0" (click)="selectSpeciality(especialidad.name)">{{especialidad.name}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">Medicos</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor="let user of medicList">
                            <h6 class="my-0" (click)="selectMedic(user)">{{user.userInfo | userinfo}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
        
        <div class="col" *ngIf="authService.userProfile?.admin">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">Pacientes</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor="let user of userList">
                            <h6 class="my-0" (click)="selectPatient(user)">{{user.userInfo | userinfo}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 

    </div>


    <div class="col-sm-6">
        <label for="date" class="form-label">Fecha de Nacimiento</label>
        <input [formControl]="form.controls.date" type="date" class="form-control" id="date" placeholder=""
            value="" required="" fdprocessedid="g20eu" (change)="selectDate()">
        <div class="invalid-feedback">
            Valid age name is required.
        </div>
    </div>

    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="selectedSpeciality">{{selectedSpeciality}}</li>
              <li class="breadcrumb-item" *ngIf="selectedMedic">{{selectedMedic.userInfo.mail}}</li>
              <li class="breadcrumb-item" *ngIf="selectedTurn">{{selectedTurn.day}} {{selectedTurn.hour}}</li>
            </ol>
          </nav>

          <button class="btn btn-primary" style="margin: 1vh;" type="button" fdprocessedid="4p6z8a" (click)="generateTurn()">Cargar</button>   
    </div>

    <div class="row row-cols-1 row-cols-md-1 mb-3">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal text-center">Medicos</h4>
                </div>

                <div class="card-body">
                    <table class="table" *ngIf="selectedMedic">
                        <thead>
                          <tr>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                          </tr>
                          <tr>
                            <th *ngFor="let day of currentWeekDays">{{ day | date:'dd/MM' }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let hour of scheduleService.baseTurns">
                            <td *ngFor="let day of currentWeekDays" [ngClass]="{ 'disabled': !isValidHour(hour, day) }" (click)="selectTurn(hour,day)">
                              {{ hour }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <ng-template #disabledCell></ng-template>
                </div>
            </div>
        </div> 

    </div>

</div>
