<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="container">



<form [formGroup]="this.form" (submit)="registerTurn()">

    <div class="row g-5">

        <div class="row g-3">

            <div class="col-sm-6">
                <label for="date" class="form-label">Fecha de Nacimiento</label>
                <input [formControl]="form.controls.date" type="date" class="form-control" id="date" placeholder=""
                    value="" required="" fdprocessedid="g20eu">
                <div class="invalid-feedback">
                    Valid age name is required.
                </div>
            </div>



        </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit" fdprocessedid="4p6z8a">Cargar</button>

    </div>

</form>


</div>